.envrc
*.egg-info
.env
.vault_pass
*.key
*.pub
vagrant/.vagrant/
__pycache__/
.shaa_*
.mypy_cache/
venv/
ui/shaa_shell/data/custom/*
!ui/shaa_shell/data/custom/**/example.yml
ansible/*.yml
!ansible/main.yml
ansible/inventory/*.yml
!ansible/inventory/main.yml
