{%- if ansible_userspace_bits == "64" -%}
    -a always,exit -F arch=b64 -S sethostname -S setdomainname -k system-locale
{% endif %}
-a always,exit -F arch=b32 -S sethostname -S setdomainname -k system-locale
-w /etc/issue -p wa -k system-locale
-w /etc/issue.net -p wa -k system-locale
-w /etc/hosts -p wa -k system-locale
{% if ansible_os_family in ['RedHat', 'Suse'] -%}
    -w /etc/sysconfig/network -p wa -k system-locale
{%- endif %}
{% if ansible_os_family == "Debian" -%}
    -w /etc/network -p wa -k system-locale
{%- endif %}
